{erl_opts, [debug_info]}.
{deps,
 [{cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
  {jsone, {git, "https://github.com/sile/jsone", {branch, "master"}}},
  {msterl, {git, "https://github.com/mikeyhc/msterl", {branch, "main"}}},
  {gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [malitrack]}
]}.
