{{#unit}}
<h1>{{name}}</h1>

<table>
    <tbody>
        <tr>
            <td>Factions:</td>
            <td>{{factions}}</td>
        </tr>
        <tr>
            <td>Keywords:</td>
            <td>{{keywords}}</td>
        </tr>
        <tr>
            <td>Versatile:</td>
            <td>
                {{#versatile}}Yes{{/versatile}}
                {{^versatile}}No{{/versatile}}
            </td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>{{role}}</td>
        </tr>
        <tr>
            <td>Limit:</td>
            <td>{{ limit }}</td>
        </tr>
        {{#errors}}
        <tr>
            <td>Error:</td>
            <td>{{.}}</td>
        </tr>
        {{/errors}}
    </tbody>
</table>
{{/unit}}
